<!-- git practicing -->
<h1>Hello I am from login-with-email</h1>

<!-- ng-container -->
<p style="color: red;">
   My name is Ladva Himanshu  
   <ng-container>
       And My Father Name is Ashokbhai
   </ng-container>
   And I have a sweet home.
   
</p>

<!-- ngClass directive -->
<!-- <div [ngClass]="currentClasses">Hello I am himanshu</div> -->

<!-- <h1 [ngStyle]="{'color': 'red', 'font-size': '50px'}">{{title}}</h1>
<app-child [item]="sendData"></app-child>
<app-child (getDataEvent)="getDataFromChild($event)"></app-child>
<h1>{{data}}</h1>
<input type="text" [(ngModel)]="twoWayBinding">
<h2>{{twoWayBinding}}</h2> -->

<!-- Reactive form -->
<!-- <form [formGroup]="rActiveForm" (ngSubmit)="getReactiveFormData()">
    <label for="fname">First Name: </label>
    <input type="text" name="fname" formControlName="fname"><br>
    <label for="lname">Last Name: </label>
    <input type="text" name="lname" formControlName="lname"><br>
    <button type="submit">submit</button>
</form> -->

<!-- template driven form -->
<!-- <form #form="ngForm" (ngSubmit)="getFormData(form.value)">
    <label for="fname">First Name: </label>
    <input type="text" name="fname" #fname ngModel><br>
    <label for="lname">Last Name: </label>
    <input type="text" name="lname" #lname ngModel><br>
    <button type="submit">submit</button>
</form> -->

